<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/nav.ejs') %>

   
</head>
<body>
    <h1 class="header">Home</h1>
    <div class="content">
        <%blogs.forEach(blog=>{console.log(blog.id)%>
            <h2><%=blog.title%></h2>    
          
        <%}) %> 
       
    </div>
   
    <%- include('./partials/footer.ejs') %>
</body>
</html>