<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/app/v1/user/signup" method="post">
        <label for="user">User</label>
        <input type="text" id="user" name="user">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="user">Confirm Password</label>
        <input type="text" id="confirmPassword" name="confirmPassword">
        <button type="submit">SignUp</button>
        <button type="reset">Clear</button>

    </form>
</body>
</html>